################### RECONHECIMENTO DE VOZ ########################
DEEPGRAM_API_KEY=69b8d0f498
################### ELEVENLABS - VOZ NATURAL ################################
ELEVENLABS_API_KEY_1=sk_2edcefb72 ## Morando em Florianópolis
ELEVENLABS_API_KEY_2=sk_ca28fcbe902468 ## Peter
ELEVENLABS_API_KEY_3=sk_00924096e981b07e5 ## Raimundo Gmail
ELEVENLABS_API_KEY_4=sk_0dc00a18a2dc9529 ## Tefa Gmail
ELEVENLABS_API_KEY_5=sk_39a0c64 ## Anarchy Gmail
VOICE_ID=MF3mGyEYCl7XYWbV9V6O
################### POLLY AWS - VOZ NEURAL ###############################
AWS_ACCESS_KEY_ID=AKIAW
AWS_SECRET_ACCESS_KEY=cWG
AWS_REGION=sa-east-1
#################### OPENAI - DEEPSEEK ################################
OPENAI_API_KEY=sk-proj-rclw9OIqJnz4KK1Fqkhscnpe20I_mi6WMEA
DEEPSEEK_API_KEY=sk-4254f6d
#################### GEMINI - GOOGLE ################################
GOOGLE_API_KEY=AIzaSyf4sd4f56sd4v564s564v56sp_OTowk50I
#################### SUPABASE - BANCO DE DADOS VETORIAL ################################
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_PUBLISH_KEY=sua-chave-publica-aqui